<p>
  <mat-toolbar>
    <span>Gasolineras De España</span>
  </mat-toolbar>
</p>  
  <body>
 
  <div class =first-box>
  <h1>Tabla de filtrados</h1>
  <div>
    <mat-form-field appearance="fill">
        <mat-label>Filtrar por Provincia</mat-label>
        <mat-select name="provincia" [(ngModel)]="provinciaArray" multiple>
        <mat-option *ngFor="let p of listaProvincias" [value]="p.IDPovincia">
          {{p.Provincia}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="filterByProvincia()">Filtrar</button>
  <button mat-raised-button color="warn" (click)="removeFilter()">Eliminar Filtro<mat-icon>delete</mat-icon></button>
  </div>


  
  <div>
      <h2>Gasolina Precio Mínimo</h2>
      <mat-slider  thumbLabel [(ngModel)]="precioMin" tickInterval="1" step="0.11"  min="0" max="3" aria-label="units"></mat-slider>
      <mat-form-field appearance="fill">
        <mat-label>Gasolina</mat-label>
        <mat-select name="precio" [(ngModel)]="gasolinaType">
            <mat-option value="precioGasoleoA">
                Gasóleo A
            </mat-option>
            <mat-option value="precioGasolina95E5">
                Gasolina 95
            </mat-option>
            <mat-option value="precioGasolina98E5">
                Gasolina 98
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="filterByPrecio()">Filtrar</button>
    <button mat-raised-button color="warn" (click)="removeFilter()">Eliminar Filtro<mat-icon>delete</mat-icon></button>
        
     
  </div>

  <div>
    <mat-form-field appearance="fill" *ngIf = "mostrar">
        <mat-label>Filtrar por Municipio</mat-label>
        <mat-select name="municipio" [(ngModel)]="municipio" multiple>
        <mat-option *ngFor="let m of listaMunicipios" [value]="m.Municipio">
          {{m.Municipio}}
        </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="filterByMunicipio()" *ngIf = "mostrar">Filtrar</button>
  <button mat-raised-button color="warn" (click)="removeFilter()" *ngIf = "mostrar">Eliminar Filtro<mat-icon>delete</mat-icon></button>
  </div>
</div>
  <div class =second-box>
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px grid" >
    <app-gasolinera-item *ngFor="let g of listaGasolineras" [gasolineraInput]="g"></app-gasolinera-item>
    </div>
  </div>
</body>


  